# Imbalanced Dataset Handling

1. Upsampling

2. Downsampling

In [1]:
# importing libraries

import numpy as np
import pandas as pd

In [2]:
# Set the random seed for reproducablity

np.random.seed(123) # making a seed from numpy so that the values cannot be changed

# Create a dataframe with two classes

n_samples = 1000 # number of datapoints is 1000

class_0_ratio = 0.9 # ratio of one class is 90%

n_class_0 = int(n_samples * class_0_ratio) # making 900 datapoint into class 0

n_class_1 = n_samples - n_class_0 # making rest data points for the class 1

In [3]:
n_class_0, n_class_1

(900, 100)

In [4]:
class_0 = pd.DataFrame({
'feature_1' : np.random.normal(loc = 0, scale = 1, size = n_class_0),
'feature_2' : np.random.normal(loc = 0, scale = 1, size = n_class_0),
'target' : [0] * n_class_0
})

class_1 = pd.DataFrame({
'feature_1' : np.random.normal(loc = 2, scale = 1, size = n_class_1),
'feature_2' : np.random.normal(loc = 2, scale = 1, size = n_class_1),
'target' : [1] * n_class_1
})

In [5]:
df = pd.concat([class_0, class_1]).reset_index(drop = True)

In [6]:
df.head()

   feature_1  feature_2  target
0  -1.085631   0.551302       0
1   0.997345   0.419589       0
2   0.282978   1.815652       0
3  -1.506295  -0.252750       0
4  -0.578600  -0.292004       0

In [7]:
df['target'].value_counts()

0    900
1    100
Name: target, dtype: int64

## Upsampling the dataset

In [8]:
# setting the majority and minority of the dataset

df_minority = df[df['target'] == 1]

df_majority = df[df['target'] == 0]

In [9]:
df_majority.head()

   feature_1  feature_2  target
0  -1.085631   0.551302       0
1   0.997345   0.419589       0
2   0.282978   1.815652       0
3  -1.506295  -0.252750       0
4  -0.578600  -0.292004       0

In [10]:
df_minority.head()

     feature_1  feature_2  target
900   1.699768   2.139033       1
901   1.367739   2.025577       1
902   1.795683   1.803557       1
903   2.213696   3.312255       1
904   3.033878   3.187417       1

In [11]:
# Upsampling Perform

from sklearn.utils import resample

In [12]:
df_minority_upsample = resample(df_minority,
                               replace = True, # sample with replacement
                               n_samples = len(df_majority), # to match the majority class
                               random_state=42) # you can use any value in the random state

In [13]:
df_minority_upsample.shape

(900, 3)

In [14]:
df_minority_upsample['target'].value_counts()

1    900
Name: target, dtype: int64

In [15]:
# concatinating the dataframes

df_upsampled = pd.concat([df_majority, df_minority_upsample])

In [16]:
df_upsampled['target'].value_counts()

0    900
1    900
Name: target, dtype: int64

## Downsampling

In [17]:
class_0 = pd.DataFrame({
'feature_1' : np.random.normal(loc = 0, scale = 1, size = n_class_0),
'feature_2' : np.random.normal(loc = 0, scale = 1, size = n_class_0),
'target' : [0] * n_class_0
})

class_1 = pd.DataFrame({
'feature_1' : np.random.normal(loc = 2, scale = 1, size = n_class_1),
'feature_2' : np.random.normal(loc = 2, scale = 1, size = n_class_1),
'target' : [1] * n_class_1
})

In [18]:
df = pd.concat([class_0, class_1]).reset_index(drop = True)

In [19]:
# setting the majority and minority of the dataset

df_minority = df[df['target'] == 1]

df_majority = df[df['target'] == 0]

In [20]:
df_majority_downsample = resample(df_majority,
                               replace = False, # sample without replacement
                               n_samples = len(df_minority), # to match the minority class
                               random_state=42) # you can use any value in the random state

In [21]:
df_majority_downsample.shape

(100, 3)

In [24]:
df_downsample = pd.concat([df_minority, df_majority_downsample])

In [25]:
df_downsample['target'].value_counts()

1    100
0    100
Name: target, dtype: int64

In [26]:
df_downsample

     feature_1  feature_2  target
900  -0.643425   2.571923       1
901   1.551009   1.782767       1
902   1.641093   2.054318       1
903   2.133194   2.155998       1
904   1.355758   2.467810       1
..         ...        ...     ...
398   1.013666   0.083496       0
76    0.164480  -1.808980       0
196  -1.576624   0.525893       0
631  -0.540147   0.610282       0
751  -0.168798  -0.831334       0

[200 rows x 3 columns]