# Nominal/ OHE Encoding

In [1]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [2]:
# creating a dataframe with categoriacal variable 

df = pd.DataFrame({'color' : ['red','blue','green','green','red','blue']})

In [3]:
df

   color
0    red
1   blue
2  green
3  green
4    red
5   blue

In [4]:
# Creating an instance of One Hot Encoder

In [5]:
encoder = OneHotEncoder()

In [6]:
encoded = encoder.fit_transform(df[['color']]) # it will create a sprase matrix which is not good for evaluation

In [7]:
encoded

<6x3 sparse matrix of type '<class 'numpy.float64'>'
	with 6 stored elements in Compressed Sparse Row format>

In [8]:
import pandas as pd
encoded_df = pd.DataFrame(encoded.toarray(), columns=encoder.get_feature_names_out()) # get_feature_names_out puts the name of the array from the dataframe

In [9]:
encoded_df

   color_blue  color_green  color_red
0         0.0          0.0        1.0
1         1.0          0.0        0.0
2         0.0          1.0        0.0
3         0.0          1.0        0.0
4         0.0          0.0        1.0
5         1.0          0.0        0.0

In [10]:
# appending with df

In [11]:
pd.concat([df, encoded_df], axis = 1)

   color  color_blue  color_green  color_red
0    red         0.0          0.0        1.0
1   blue         1.0          0.0        0.0
2  green         0.0          1.0        0.0
3  green         0.0          1.0        0.0
4    red         0.0          0.0        1.0
5   blue         1.0          0.0        0.0

In [12]:
# Pracise Assignment

In [15]:
import seaborn as sns

sns.load_dataset('tips')

ValueError: 'tips' is not one of the example datasets.