In [1]:
l = [1,2,3,4,5]

for i in l :
    print(i, type(i)) # typing the datatype also

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
4 <class 'int'>
5 <class 'int'>

In [2]:
l1 = ["dibyendu", "chowdhury", "raja", "subho"]

for i in l1 :
    print(i)

dibyendu
chowdhury
raja
subho

In [3]:
# else command can be used with for loop

In [4]:
for i in l1 :
    print(i)
else :
    print("Do Something")

dibyendu
chowdhury
raja
subho
Do Something

In [5]:
for i in l1 :
    if i == "raja" :
        break
    else :
        print(i)

dibyendu
chowdhury

In [6]:
for i in l1 :
    if i == "raja" :
        break
    else :
        print(i)
else :
    print("Execute this line if the list is execute completely with for loop")

dibyendu
chowdhury

In [7]:
for i in l1 :
    if i == "raja" :
        continue
    print(i)

dibyendu
chowdhury
subho

In [8]:
# continue does not print the value, it goes again to the for loop line from continue line. that's why when continue line
# appears, that value is not printed.

In [9]:
# in this case else can be printed

In [10]:
for i in l1 :
    if i == "raja" :
        continue
    else :
        print(i)
else :
    print("Execute this line if the list is execute completely with for loop")

dibyendu
chowdhury
subho
Execute this line if the list is execute completely with for loop

# RANGE

In [11]:
range(5)

range(0, 5)

In [12]:
list(range(5))

[0, 1, 2, 3, 4]

In [13]:
list(range(0,20,2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [14]:
list(range(-10,0,2))

[-10, -8, -6, -4, -2]

In [15]:
# if we want to print the list l1 in desending order, we have to use the length function to determine the starting number of range

In [16]:
len(l1)

4

In [17]:
list(range(len(l1)))

[0, 1, 2, 3]

In [18]:
for i in range(len(l1)) :
    print(l1[i])

dibyendu
chowdhury
raja
subho

In [21]:
list(range(len(l1),0))
# it is not showing because of starting from 4 and ending in 0 but the default jump is 1 so it clashing

[]

In [23]:
# for this we need to make -1

list(range(len(l1),0, -1))

[4, 3, 2, 1]

In [24]:
# but when we start the data from 0, end will be 3 not 4 
# so we need to use len(l1) -1 in this case

In [27]:
list(range(len(l1)-1,-1, -1))
# that will be our desending order

[3, 2, 1, 0]

In [29]:
# for revresing the data
for i in range(len(l1)-1,-1, -1) :
    print(l1[i])

subho
raja
chowdhury
dibyendu

In [30]:
l2 = [12,45,65,23,78,98,54,21]

In [32]:
# print only the even positional data

In [33]:
# first make a list of the even position data

In [35]:
list(range(0, len(l2), 2))

[0, 2, 4, 6]

In [36]:
for i in list(range(0, len(l2), 2)) :
    print(l2[i])

12
65
78
54

In [37]:
l3 = [1,2,4,5,7,8,9,6,3]

# create sum of all the data

In [38]:
result = 0
for i in l :
    result = result + i
result

15

In [39]:
tuple1 = (1,2,3,4,5)

In [41]:
for i in tuple1 :
    print(i)

1
2
3
4
5

In [42]:
result = 0
for i in tuple1 :
    result = result + i
result

15

In [43]:
s1 = "dibyendu"

In [44]:
for i in s1 :
    print(i)

d
i
b
y
e
n
d
u

In [45]:
dic = {"name" : "sudh", "class" : "data science masters",
       "topic" : ["python", "stats", "machine learning", "deep learning", "computer vision", "natural language processing", "resume", "interview"]}

In [46]:
dic

{'name': 'sudh',
 'class': 'data science masters',
 'topic': ['python',
  'stats',
  'machine learning',
  'deep learning',
  'computer vision',
  'natural language processing',
  'resume',
  'interview']}

In [47]:
# pring the values on the basis of keys

In [48]:
dic["name"]

'sudh'

In [50]:
dic.keys()

dict_keys(['name', 'class', 'topic'])

In [51]:
# doing the same thing in loop command

In [52]:
for i in dic.keys() :
    print(dic[i])

sudh
data science masters
['python', 'stats', 'machine learning', 'deep learning', 'computer vision', 'natural language processing', 'resume', 'interview']

In [53]:
# or

In [54]:
for i in dic.values() :
    print(i)

sudh
data science masters
['python', 'stats', 'machine learning', 'deep learning', 'computer vision', 'natural language processing', 'resume', 'interview']

In [55]:
# printing keys and values using for loop

In [56]:
for i in dic.items() :
    print(i)

('name', 'sudh')
('class', 'data science masters')
('topic', ['python', 'stats', 'machine learning', 'deep learning', 'computer vision', 'natural language processing', 'resume', 'interview'])