In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv')

In [4]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [6]:
s = df['Name']

In [7]:
s

0                                Braund, Mr. Owen Harris
1      Cumings, Mrs. John Bradley (Florence Briggs Th...
2                                 Heikkinen, Miss. Laina
3           Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                               Allen, Mr. William Henry
                             ...
886                                Montvila, Rev. Juozas
887                         Graham, Miss. Margaret Edith
888             Johnston, Miss. Catherine Helen "Carrie"
889                                Behr, Mr. Karl Howell
890                                  Dooley, Mr. Patrick
Name: Name, Length: 891, dtype: object

In [8]:
len(s)

891

In [9]:
# taking some data chunk

In [10]:
s = df['Name'][:10]

In [11]:
type(s)

pandas.core.series.Series

In [12]:
# there are two types of indexes. 

# 1. default indexes
# 2. name indexes.

# the above index are default index

In [13]:
# if we want to give name indexes.

In [15]:
# for doing that first we make a list 


l = ['a','b','c','d','e','f','g','h','i','j']

In [16]:
pd.Series(s, index=l)

a    NaN
b    NaN
c    NaN
d    NaN
e    NaN
f    NaN
g    NaN
h    NaN
i    NaN
j    NaN
Name: Name, dtype: object

In [18]:
s1 = pd.Series(list(s), index=l)

In [19]:
s1

a                              Braund, Mr. Owen Harris
b    Cumings, Mrs. John Bradley (Florence Briggs Th...
c                               Heikkinen, Miss. Laina
d         Futrelle, Mrs. Jacques Heath (Lily May Peel)
e                             Allen, Mr. William Henry
f                                     Moran, Mr. James
g                              McCarthy, Mr. Timothy J
h                       Palsson, Master. Gosta Leonard
i    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
j                  Nasser, Mrs. Nicholas (Adele Achem)
dtype: object

In [20]:
s

0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
5                                     Moran, Mr. James
6                              McCarthy, Mr. Timothy J
7                       Palsson, Master. Gosta Leonard
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                  Nasser, Mrs. Nicholas (Adele Achem)
Name: Name, dtype: object

In [21]:
s[0]

'Braund, Mr. Owen Harris'

In [22]:
s1[0]

'Braund, Mr. Owen Harris'

In [23]:
# s1[0] also will work because its act like an internal index

In [25]:
# also

s1['a']

'Braund, Mr. Owen Harris'

In [27]:
s1.append("sudhanshu")

# it will show an error because the append only can add series data in this case.

/tmp/ipykernel_70/3585708073.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  s1.append("sudhanshu")

TypeError: cannot concatenate object of type '<class 'str'>'; only Series and DataFrame objs are valid

In [29]:
s2 = s1.append(s)

/tmp/ipykernel_70/2451741888.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  s2 = s1.append(s)

In [30]:
s2

a                              Braund, Mr. Owen Harris
b    Cumings, Mrs. John Bradley (Florence Briggs Th...
c                               Heikkinen, Miss. Laina
d         Futrelle, Mrs. Jacques Heath (Lily May Peel)
e                             Allen, Mr. William Henry
f                                     Moran, Mr. James
g                              McCarthy, Mr. Timothy J
h                       Palsson, Master. Gosta Leonard
i    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
j                  Nasser, Mrs. Nicholas (Adele Achem)
0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
5                                     Moran, Mr. James
6                              McCarthy, Mr. Timothy J
7                       Palsson, Master. Gosta Leonard
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                  Nasser, Mrs. Nicholas (Adele Achem)
dtype: object

In [40]:
s2[4]


# whether you use name index or the default index, it will take the index that can see only.

'Allen, Mr. William Henry'

In [34]:
s4 = pd.Series([3,4,5,6,6], index=[2,4,5,6,1])

In [36]:
s5 = pd.Series([34,345,45,45,454], index=[9,4,5,6,7,])

In [38]:
s6 = s4.append(s5)

/tmp/ipykernel_70/937876903.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  s6 = s4.append(s5)

In [42]:
s6

2      3
4      4
5      5
6      6
1      6
9     34
4    345
5     45
6     45
7    454
dtype: int64

In [39]:
s6[4]

4      4
4    345
dtype: int64

In [43]:
s6[0:4] # here taking default index

/tmp/ipykernel_70/1029926170.py:1: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  s6[0:4] # here taking default index

2    3
4    4
5    5
6    6
dtype: int64

In [44]:
s4

2    3
4    4
5    5
6    6
1    6
dtype: int64

In [45]:
s5

9     34
4    345
5     45
6     45
7    454
dtype: int64

In [47]:
s4*s5

# multiplication doing in the


# in this case, if name index are available on both series, then multiply otherwise if available in one series then it will be NaN values.

1       NaN
2       NaN
4    1380.0
5     225.0
6     270.0
7       NaN
9       NaN
dtype: float64